.jimu-widget-adddata-setting input{
  margin-left: 10px;
}
.jimu-widget-adddata-setting .urlTXTBox{
	width: 300px;
}
.jimu-widget-adddata-setting .ADInputDiv, .jimu-widget-adddata-setting .ADRBDiv{
	padding-top: 10px;
}
.jimu-widget-adddata-setting .ADRBDiv label{
	margin-left: 30px;
	font-size: .7em;
	margin-bottom: 10px;
}